## Exercise 1:

#### Let us say your expense for every month are listed below:

#### i. January - 2200
#### ii. February - 2350
#### iii. March - 2600
#### iv. April - 2130
#### v. May - 2190 

#### Create a list to store these monthly expenses and using that find out

In [1]:
expenses = [2200, 2350, 2600, 2130, 2190]

###### Q1. In Feb, how many dollars you spent extra compare to January?

In [2]:
extra_money_spent = expenses[1] - expenses[0]
print("Extra Money spent:", extra_money_spent)

Extra Money spent: 150

###### Q2. Find out your total expense in first quarter (first three months) of the year.

In [3]:
first_quarter = expenses[0] + expenses[1] + expenses[2]
print("Total expense in first quarter:", first_quarter)

Total expense in first quarter: 7150

###### Q3. Find out if you spent exactly 2000 dollars in any month

In [7]:
print("Any exact 2000 dollars spending:", 2000 in expenses)

Any exact 2000 dollars spending: False

###### Q4. June month just finished and your expense is 1980 dollar. Add this item to our monthly expense list

In [8]:
expenses.append(1980)

print(expenses)

[2200, 2350, 2600, 2130, 2190, 1980]

###### Q5. You returned an item that you bought in a month of April and got a refund of $200. Make a correction to your monthly expense list based on this

In [9]:
expenses[3] = expenses[3] - 200

expenses

[2200, 2350, 2600, 1930, 2190, 1980]

## Exercise 2:

#### You have a list of your favourite marvel super heros.

#### heros = ['spider man','thor','hulk','iron man','captain america']

#### Using this find out

In [21]:
heros = ['spider man','thor','hulk','iron man','captain america']

###### Q1. Length of the list

In [17]:
print("Length of the list:", len(heros))

Length of the list: 5

###### Q2. Add 'black panther' at the end of this list

In [22]:
heros.append("black panther")

heros

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

###### Q3. You realize that you need to add 'black panther' after 'hulk', so remove it from the list first and then add it after 'hulk'

In [23]:
heros.remove("black panther")

heros.insert(3, 'black panther')

heros

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

###### Q4. Now you don't like thor and hulk because they get angry easily :) So you want to remove thor and hulk from list and replace them with doctor strange (because he is cool). Do that with one line of code.

In [24]:
heros[1:3] = ["doctor strange"]

heros

['spider man',
 'doctor strange',
 'black panther',
 'iron man',
 'captain america']

###### Q5. Sort the heros list in alphabetical order (Hint. Use dir() functions to list down all functions available in list)

In [25]:
heros.sort()

heros

['black panther',
 'captain america',
 'doctor strange',
 'iron man',
 'spider man']

## Exercise 3:

#### Create a list of all odd numbers between 1 and a max number. Max number is something you need to take from a user using input() function

In [30]:
max_number = int(input("Enter MAX number:"))

odd_number = []

for i in range(1, max_number):
    if i % 2 == 1:
        odd_number.append(i)
        
        
print("odd number:", odd_number)

Enter MAX number:45
odd number: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43]